$borderRed: 2px solid red;

@mixin display_flex_row {
  display: flex;
  flex-direction: row;
}

@mixin display_flex_column {
  display: flex;
  flex-direction: column;
}


.house_container {
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  @include display_flex_column();
  justify-content: center;
  align-items: center;
  color: lightslategrey;

  .house_form_container {
    background-color: lightsalmon;
    // border: 2px solid red;
    width: 35rem;
    height: 30rem;
    // padding: 28px;
    border-radius: 2%;
    box-shadow: 5px 5px red;
    
    // margin-top: 40rem;
    // margin: auto;
    @include display_flex_column();
    justify-content: space-between;

    .house_form_item {
      // border: 5px solid yellow;
      @include display_flex_row();
      justify-content: space-around;
      // margin-bottom: 5rem;

      select {
        width: 100px;
      }
    }
    
    // @include display_flex_column;
    // justify-content: space-evenly;
    input {
      height: 20px;
      width: 15rem;
      // border: 2px solid red;
      border-radius: .10rem;
      border-style: none;
    }

    .house_utites_form_container {
      @include display_flex_row();
      height: 10rem;
      // border: 5px solid black;
      // align-self: space-around;
      justify-content: space-between;
      align-content: space-around;
      div {
        // display: flex;
        // border: 2px solid black;
        @include display_flex_column();
        justify-content: space-between;
        // margin: 10px;
      }

     
    }

    .submit {
      height: 2rem;
      margin-bottom: 18px;
      background-color: blueviolet;
      border-style: none;
      box-shadow: 2px 2px blueviolet;
      width: 90%;
      display: flex;
      align-self: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        // background-color: red;
        box-shadow: none;
              box-shadow: 2px 2px blueviolet;


      }
    }


  //   .house_payment_container {
  //     // border: $borderRed;     
  //     display: flex;
  //     flex-direction: column;
  //     width: 50%;
  //     align-self: center;
  //     margin-top: 100px;
  //   }
  }
}

.house_utites__overall_form_container {
  // border: 5px solid red;
  width: 100%;
  @include display_flex_column;
  align-items: center;
  // justify-content: space-evenly;

  .house_utites_graphic_overall_container {
    // border: 5px solid red;
    height: 21rem;
    width: 50rem;
  }

  .house_utites_graphic_all_container {
    // height: 50%;
    // border: 2px solid red;
    width: 100%;
    // width: 100%;
    // height: 100%;
    @include display_flex_row;
    // align-self: center;
    justify-content: space-around;
    // flex-wrap: wrap;

    .house_utites_graphic_all_item {
      // border: 2px solid blue;
      // display: flex;
      height: 300px;
      width: 440px;
      // flex-direction: column;
      // align-items: space-around;
      // justify-content: space-around;
    }
  }
}