* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Remove Inner And Outer Button */
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}