$borderRed: 2px solid red;

.setting_container {
  // border: $borderRed;
  background-color: burlywood;
  min-width: 91.5%;
  min-height: 100%;
  // min-width: 50rem;
  // width: 100rem;
  // display: flex;
  // flex-direction: column;
  // min-width: 100%;
}